@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  color: #222;
  background-color: #f9fafb;
}

.page-container {
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .page-container {
    padding: 1.5rem 3rem;
  }
}
@media (min-width: 1200px) {
  .page-container {
    padding: 2rem 4rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  background-color: #0f5e59;
  color: #fff;
}
.btn:hover {
  background-color: #0a3f3c;
}

.btn--shop-now {
  padding: 1rem 2rem;
  background-color: #d66c36;
  color: #fff;
}
.btn--shop-now:hover {
  background-color: #c15b27;
}

.btn--checkout {
  padding: 0.5rem 2rem;
}

.btn--remove {
  background-color: #ae1b1e;
  color: #fff;
}
.btn--remove:hover {
  background-color: #8f1619;
}

.btn--count {
  background-color: #d1d5da;
  color: #222;
}
.btn--count:hover {
  background-color: #bdc3ca;
}

.btn--disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #d1d5da;
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .header {
    padding: 1.5rem 3rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 2rem 4rem;
  }
}
.header__inner {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  height: 2rem;
}
.header__logo {
  height: 100%;
  width: auto;
}
.header__toggle-btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .header__toggle-btn {
    display: none;
  }
}
.header__toggle-btn:hover {
  transform: rotate(90deg);
}
.header__toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.nav {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .nav {
    height: auto;
    overflow: visible;
    flex-basis: 40%;
  }
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
@media (min-width: 768px) {
  .nav__links {
    flex-direction: row;
    justify-content: space-around;
    color: #222;
  }
}
.nav__links--show {
  height: 10rem;
}
.nav__item {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.nav__item:hover {
  color: #d66c36;
  border-bottom-color: #d66c36;
}
.nav__link {
  color: inherit;
}
.nav__item-cart-icon {
  position: relative;
}
.nav__cart-count-box {
  color: #fff;
  background-color: #222;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -0.7rem;
  right: -0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__cart-count {
  font-size: 0.65rem;
  height: 0.65rem;
  line-height: 0.65rem;
  vertical-align: center;
}

.page-container--hero {
  height: calc(100vh - 2rem - 2rem - 1px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../img/bg-lg.jpg") center/cover;
  display: flex;
}
@media (min-width: 768px) {
  .page-container--hero {
    height: calc(100vh - 2rem - 3rem - 1px);
  }
}
@media (min-width: 1200px) {
  .page-container--hero {
    height: calc(100vh - 2rem - 4rem - 1px);
  }
}

.hero {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
}
.hero__title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 6rem;
  }
}
.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero__subtitle {
    font-size: 2.5rem;
  }
}
.hero__shop-now-link {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
@media (min-width: 768px) {
  .hero__shop-now-link {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .hero__shop-now-link {
    font-size: 2.25rem;
  }
}

.products {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.products__title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .products__title {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .products__title {
    font-size: 2.25rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #edeeef;
  box-shadow: 0px 6px 20px -15px #b0b8c0;
  padding: 1.5rem;
  border-radius: 0.75rem;
}
.product__img-box {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/2;
}
.product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__title {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 600;
  flex-grow: 1;
}
.product__price {
  font-size: 0.875rem;
  font-weight: 300;
}

.cart {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #edeeef;
  box-shadow: 0px 6px 20px -15px #b0b8c0;
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}
.cart__title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .cart__title {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .cart__title {
    font-size: 2.25rem;
  }
}
.cart__total-price-wrapper {
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 600;
  margin-bottom: 1rem;
  align-self: end;
}
.cart__checkout-btn {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  align-self: end;
}
@media (min-width: 768px) {
  .cart__checkout-btn {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .cart__checkout-btn {
    font-size: 2.25rem;
  }
}

.cart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 4.5rem;
}
@media (min-width: 576px) {
  .cart-product {
    flex-direction: row;
    margin: 2rem 0;
  }
}
.cart-product__img-box {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/2;
}
@media (min-width: 576px) {
  .cart-product__img-box {
    aspect-ratio: 1/1;
    max-width: 5rem;
  }
}
.cart-product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-product__info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 576px) {
  .cart-product__info-box {
    flex-grow: 1;
    align-self: start;
    text-align: left;
  }
}
.cart-product__title {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 600;
}
.cart-product__counter-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-product__remove-btn {
  order: 1;
}
@media (min-width: 576px) {
  .cart-product__remove-btn {
    order: 0;
  }
}
.cart-product__price {
  font-size: 0.875rem;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
