// layout
@mixin limit-content-width {
  width: 100%;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-padding {
  padding: $padding-sm $padding-sm;

  @include md-screen {
    padding: $padding-md ($padding-md * 2);
  }
  @include xl-screen {
    padding: $padding-lg ($padding-lg * 2);
  }
}

// hero height
// 1px = nav border
@mixin hero-height {
  height: calc(100vh - $logo-height - ($padding-sm * 2) - 1px);

  @include md-screen {
    height: calc(100vh - $logo-height - ($padding-md * 2) - 1px);
  }
  @include xl-screen {
    height: calc(100vh - $logo-height - ($padding-lg * 2) - 1px);
  }
}

// grid
@mixin grid-width-columns(
  $number-of-cols-xs,
  $number-of-cols-sm,
  $number-of-cols-md,
  $number-of-cols-lg,
  $number-of-cols-xl
) {
  display: grid;
  grid-template-columns: repeat($number-of-cols-xs, minmax(0, 1fr));
  gap: $grid-gap;

  @include sm-screen {
    grid-template-columns: repeat($number-of-cols-sm, minmax(0, 1fr));
  }

  @include md-screen {
    grid-template-columns: repeat($number-of-cols-md, minmax(0, 1fr));
  }

  @include lg-screen {
    grid-template-columns: repeat($number-of-cols-lg, minmax(0, 1fr));
  }

  @include xl-screen {
    grid-template-columns: repeat($number-of-cols-xl, minmax(0, 1fr));
  }
}

// fonts
@mixin text-h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: $spacing;
  line-height: 1;

  @include md-screen {
    font-size: 4.5rem;
  }
  @include xl-screen {
    font-size: 6rem;
  }
}

@mixin text-h2 {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: $spacing;

  @include md-screen {
    font-size: 2rem;
  }
  @include xl-screen {
    font-size: 2.5rem;
  }
}

@mixin text-hero-btn {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: $spacing;

  @include md-screen {
    font-size: 1.75rem;
  }
  @include xl-screen {
    font-size: 2.25rem;
  }
}

@mixin text-section-title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: $spacing;
  margin-bottom: 2rem;
  text-align: center;

  @include md-screen {
    font-size: 2rem;
  }
  @include xl-screen {
    font-size: 2.25rem;
  }
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 600;
}

@mixin text-product-price {
  font-size: 0.875rem;
  font-weight: 300;
}
