// colors
$clr-primary: #0f5e59;
$clr-secondary: #d66c36;
$clr-danger: #ae1b1e;
$clr-grey-lightest: #f9fafb;
$clr-grey-lighter: #edeeef;
$clr-grey-light: #d1d5da;
$clr-grey: #b0b8c0;
$clr-grey-dark: #6c757d;
$clr-grey-darker: #495057;
$clr-grey-darkest: #343a40;
$clr-black: #222;
$clr-white: #fff;

// breakpoints
$xs-screen: 0;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// paddings
$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;

// grid
$grid-gap: 1rem;

// elements
$border-radius: 0.75rem;
$spacing: 0.1rem;
$spacing-larger: 0.2rem;
$btn-radius: 0.25rem;

// nav
$logo-height: 2rem;

// hero
$bg-img: '../../img/bg-lg.jpg';

// layout
$max-content-width: 1200px;
