.products {
  @include limit-content-width;

  &__title {
    @include text-section-title;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;
  text-align: center;
  @include card;

  &__img-box {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3/2;
  }

  &__img {
    @include img;
  }

  &__title {
    @include text-md;
    flex-grow: 1;
  }
  &__price {
    @include text-product-price;
  }
}
